@charset "UTF-8";
/*
  * ToC Style Sheet
  * ================
  */
 
.q5_toc, .q5_toc_child{
	position: fixed;
}

.q5_toc ul, .q5_toc_hidden ul {
	position: relative;
	list-style:none;
	padding-left:12px;
	height:auto;
}

.q5_toc li::before, .q5_toc li::after, .q5_toc_hidden li::before, .q5_toc_hidden li::after {
	content: "";
	position: absolute;
	left: -2px;
}

.q5_toc li::before,.q5_toc_hidden li::before  {
	border-top: 1px solid #000;
	top: 9px;
	width: 8px;
	height: 1px;
	margin-left: 2px;
}

.q5_toc li::after, .q5_toc_hidden li::after  {
	border-left: 1px solid #000;
	height: 100%;
	width: 1px;
	top: 2px;
	margin-left: 2px;
}

.q5_toc ul > li::last-child::after, .q5_toc_hidden ul > li::last-child::after  {
	height: 8px;
}

.q5_toc li, .q5_toc_hidden li {
	margin: 4px 10px 4px 0px;
	font-size:14px
}

.q5_toc_title, .q5_toc_title_hidden {
	padding-left: 20px;
	padding-top:10px;
	margin: 0px 10px 0px 0px;
	font-weight:bold;
	font-family:'Circular';
	font-size:16px;
}

.q5_toc_child ul, .q5_toc_child_hidden ul {
	position: relative;
	left: -20px;
	list-style:none;
}
.q5_toc_child li, .q5_toc_child_hidden li {
	line-height: 1.2;
}

.q5_toc_child_title, .q5_toc_child_title_hidden {
	padding-left: 20px;
	padding-top:10px;
	margin: 0px 10px 0px 0px;
	font-weight:bold;
	font-family:'Circular';
	font-size:16px;
}

.q5_toc_child_entry, .q5_toc_child_entry_hidden {
	padding-left: 20px;
	margin: 0px 0px 4px 0px;
	font-size:14px
}

/*
 * TOC Hidden
 */
 .q5_toc_hidden, .q5_toc_child_hidden {
	position: relative;
	visibility:hidden;
}

.q5_toc_title_hidden, .q5_toc_child_title_hidden {
	visibility:hidden;
}

.q5_toc_hidden ul {
	visibility:hidden;
}
.q5_toc_hidden li {
	visibility:hidden;
}

.q5_toc_child_entry_hidden {
	visibility:hidden;
}
